<div class="empty-archive" *ngIf="archivedNotes.length === 0">
  <img
    [src]="isDarkMode ? 'assets/archiveD.png' : 'assets/archiveL.png'"
    alt="archive"
  />
  <p class="empty-archive-text">Your archived notes appear here</p>
</div>

<div class="note-shared-wrapper">
  <!-- LIST VIEW (Constrained width) -->
  <div *ngIf="viewMode === 'list'" class="note-grid list">
    <app-note-card
      *ngFor="let note of archivedNotes"
      [note]="note"
      (editNote)="onEditNote($event)"
      (deleteNote)="onDeleteNote($event)"
      (archiveNote)="onArchiveNote($event)"
    ></app-note-card>
  </div>
</div>

<!-- GRID VIEW (Full width) -->
<div *ngIf="viewMode === 'grid'" class="note-grid grid">
  <app-note-card
    *ngFor="let note of archivedNotes"
    [note]="note"
    (editNote)="onEditNote($event)"
    (deleteNote)="onDeleteNote($event)"
    (archiveNote)="onArchiveNote($event)"
  ></app-note-card>
</div>
