<div class="trash-header">
  <span><i>Notes in Trash are deleted after 7 days.</i></span>
  <button (click)="emptyRecycleBin()">Empty trash</button>
</div>

<div class="empty-trash" *ngIf="noteList.length === 0">
  <img
    [src]="isDarkMode ? 'assets/trashD.png' : 'assets/trashL.png'"
    alt="archive"
  />
  <p class="empty-text">No notes in Trash</p>
</div>

<div class="note-shared-wrapper" *ngIf="noteList.length > 0">
  <!-- LIST VIEW -->
  <div *ngIf="viewMode === 'list'" class="note-grid list">
    <app-note-card
      *ngFor="let note of noteList"
      [note]="note"
      [inTrash]="true"
      (restoreNote)="onRestoreNote($event)"
      (deletePermanently)="onDeleteForever($event)"
    ></app-note-card>
  </div>
</div>

<!-- GRID VIEW -->
<div *ngIf="viewMode === 'grid' && noteList.length > 0" class="note-grid grid">
  <app-note-card
    *ngFor="let note of noteList"
    [note]="note"
    [inTrash]="true"
    (restoreNote)="onRestoreNote($event)"
    (deletePermanently)="onDeleteForever($event)"
  ></app-note-card>
</div>
