<div
  class="note-card"
  [ngStyle]="{
    'background-color': isEditing ? noteColor : note.color || '#202124'
  }"
  (mouseenter)="hover = true"
  (mouseleave)="hover = false"
>
  <div *ngIf="!isEditing" class="note-content" (click)="onEdit()">
    <h3 *ngIf="note.title" class="note-title">{{ note.title }}</h3>
    <p class="note-description">{{ note.description }}</p>
  </div>

  <div *ngIf="isEditing" class="edit-content">
    <input
      [(ngModel)]="editTitle"
      placeholder="Title"
      class="edit-title"
      type="text"
    />
    <textarea
      [(ngModel)]="editDescription"
      placeholder="Take a note..."
      class="edit-description"
      rows="4"
    ></textarea>
  </div>

  <div class="note-footer">
    <div class="note-actions">
      <app-icons
        [showAll]="false"
        [isArchived]="note.isArchived ?? false"
        (colorSelect)="setColor($event)"
        (closeBtn)="onCancel()"
        (toggleArchive)="toggleArchiveStatus($event)"
        [inTrash]="inTrash"
        (moveToTrash)="onDelete()"
        (restoreNote)="restoreThisNote()"
        (deletePermanently)="deleteThisNoteForever()"
      ></app-icons>
    </div>
  </div>
</div>
