<div class="note-shared-wrapper">
  <div class="note-form-container" *ngIf="!searchText">
    <form
      [formGroup]="notes"
      class="note-form"
      [ngStyle]="{ 'background-color': selectedColor }"
    >
      <div class="form-content">
        <input
          formControlName="title"
          [placeholder]="isExpanded ? 'Title' : 'Take a note...'"
          class="note-input"
          type="text"
          (click)="expandForm()"
          (focus)="expandForm()"
        />

        <div class="collapsed-icons" *ngIf="!isExpanded">
          <button mat-icon-button class="icon-btn">
            <mat-icon>check_box</mat-icon>
          </button>
          <button mat-icon-button class="icon-btn">
            <mat-icon>brush</mat-icon>
          </button>
          <button mat-icon-button class="icon-btn">
            <mat-icon>image</mat-icon>
          </button>
        </div>
      </div>

      <button
        *ngIf="isExpanded"
        mat-icon-button
        class="pin-btn"
        (click)="togglePin()"
        [matTooltip]="isPinned ? 'Unpin' : 'Pin'"
        type="button"
      >
        <mat-icon class="pin-icon">
          {{ isPinned ? "push_pin" : "push_pin" }}
        </mat-icon>
      </button>

      <textarea
        *ngIf="isExpanded"
        formControlName="description"
        placeholder="Take a note..."
        class="note-textarea"
        rows="3"
      ></textarea>

      <div *ngIf="isExpanded" class="form-footer">
        <app-icons
          [showAll]="true"
          (colorSelect)="onColorSelected($event)"
          (closeBtn)="onCloseNote($event)"
        ></app-icons>
      </div>
    </form>
  </div>

  <!-- CONDITIONAL DISPLAY -->
  <ng-container *ngIf="pinnedNotes.length > 0; else allNotes">
    <!-- PINNED SECTION -->
    <div class="note-section">
      <ng-container [ngSwitch]="viewMode">
        <div *ngSwitchCase="'list'" class="note-list-wrapper">
          <h4 class="section-heading">PINNED</h4>
          <div class="note-grid list">
            <app-note-card
              *ngFor="let note of pinnedNotes"
              [note]="note"
              (openDialog)="onEditNote(note)"
              (archiveNote)="onArchiveNote($event)"
              (moveToTrash)="onTrashNote($event)"
              (togglePin)="onTogglePin($event)"
            ></app-note-card>
          </div>
        </div>
        <div *ngSwitchCase="'grid'">
          <h4 class="section-heading">PINNED</h4>
          <div class="note-grid grid">
            <app-note-card
              *ngFor="let note of pinnedNotes"
              [note]="note"
              (openDialog)="onEditNote(note)"
              (archiveNote)="onArchiveNote($event)"
              (moveToTrash)="onTrashNote($event)"
              (togglePin)="onTogglePin($event)"
            ></app-note-card>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- OTHERS SECTION -->
    <div *ngIf="otherNotes.length > 0" class="note-section">
      <ng-container [ngSwitch]="viewMode">
        <div *ngSwitchCase="'list'" class="note-list-wrapper">
          <h4 class="section-heading">OTHERS</h4>
          <div class="note-grid list">
            <app-note-card
              *ngFor="let note of otherNotes"
              [note]="note"
              (openDialog)="onEditNote(note)"
              (archiveNote)="onArchiveNote($event)"
              (moveToTrash)="onTrashNote($event)"
              (togglePin)="onTogglePin($event)"
            ></app-note-card>
          </div>
        </div>
        <div *ngSwitchCase="'grid'">
          <h4 class="section-heading">OTHERS</h4>
          <div class="note-grid grid">
            <app-note-card
              *ngFor="let note of otherNotes"
              [note]="note"
              (openDialog)="onEditNote(note)"
              (archiveNote)="onArchiveNote($event)"
              (moveToTrash)="onTrashNote($event)"
              (togglePin)="onTogglePin($event)"
            ></app-note-card>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <!-- DEFAULT: All notes with no heading -->
  <ng-template #allNotes>
    <ng-container [ngSwitch]="viewMode">
      <div *ngSwitchCase="'list'" class="note-list-wrapper">
        <div class="note-grid list">
          <app-note-card
            *ngFor="let note of filteredNotes"
            [note]="note"
            (openDialog)="onEditNote(note)"
            (archiveNote)="onArchiveNote($event)"
            (moveToTrash)="onTrashNote($event)"
            (togglePin)="onTogglePin($event)"
          ></app-note-card>
        </div>
      </div>
      <div *ngSwitchCase="'grid'" class="note-grid grid">
        <app-note-card
          *ngFor="let note of filteredNotes"
          [note]="note"
          (openDialog)="onEditNote(note)"
          (archiveNote)="onArchiveNote($event)"
          (moveToTrash)="onTrashNote($event)"
          (togglePin)="onTogglePin($event)"
        ></app-note-card>
      </div>
    </ng-container>
  </ng-template>
</div>
