<div class="container">
  <div class="center-img-container">
    <img src="assets/logo.png" alt="Logo" />
  </div>

  <h2>Login</h2>
  <h4>Use your Google Account</h4>

  <form class="example-form">
    <mat-form-field appearance="outline">
      <mat-label>Email or phone</mat-label>
      <input matInput type="email" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" required />
    </mat-form-field>

    <div class="links">
      <a>forgot Password?</a>
    </div>

    <div class="cont">
      <a href="/signup">Create account</a>
      <button mat-flat-button type="submit">Login</button>
    </div>
  </form>
</div>
