<div class="container">
  <div class="center-img-container">
    <img src="assets/logo.png" alt="Logo" />
  </div>

  <h2>Login</h2>
  <h4>Use your Google Account</h4>

  <form class="example-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email or phone</mat-label>
      <input matInput type="email" required formControlName="email" />
      <mat-error
        *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
        >Enter a valid email</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" required formControlName="password" />
      <mat-error
        *ngIf="
          userForm.get('password')?.invalid && userForm.get('password')?.touched
        "
        >Password is required</mat-error
      >
    </mat-form-field>

    <div class="links">
      <a>forgot Password?</a>
    </div>

    <div class="cont">
      <a routerLink="/signup">Create account</a>
      <button mat-flat-button type="submit">Login</button>
    </div>
  </form>
</div>
