<div class="layout">
  <app-toolbar
    (toggle)="toggleSidebar()"
    (viewToggle)="handleViewToggle($event)"
  />

  <div class="body">
    <div class="sidenav" [ngClass]="{ expanded: isSidebarOpen }">
      <app-sidenav [isExpanded]="isSidebarOpen" />
    </div>

    <div class="main-content" [style.marginLeft.px]="isSidebarOpen ? 240 : 72">
      <!-- <app-notes (noteAdded)="handleNoteAdded($event)"></app-notes>

      <div class="note-grid">
        <app-note-card
          *ngFor="let note of notes"
          [note]="note"
          (editNote)="handleNoteEdit($event)"
          (deleteNote)="handleNoteDelete($event)"
        ></app-note-card>
      </div> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
